<div class="period-selector">
  <%= link_to path, class: "btn btn-success" do %>
    <i class="fas fa-rotate-right"></i>
  <% end %>

  <%= form_with url: path, method: :get, local: true do %>
    <label>Du :</label>
    <%= date_field_tag :start_date, @start_date %>

    <label>Au :</label>
    <%= date_field_tag :end_date, @end_date %>

    <%= button_tag type: 'submit', class: "btn btn-success" do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>
