<%= form_with(model: transaction, local: true, html: { class: "soft-form" }) do |f| %>
  <%= hidden_field_tag :category_type, category_type %>
  <%= hidden_field_tag :reconciliation_id,
        (params[:reconciliation_id] || @reconciliation_id),
        id: "reconciliation_id" %>

  <%= hidden_field_tag :tx_id,
        (params[:tx_id] || @tx_id),
        id: "tx_id" %>

  <div class="form-field">
    <%= f.label :category_id, "Catégorie" %>
    <%= f.collection_select :category_id, categories, :id, :name,
          { prompt: "Sélectionnez une catégorie" },
          { required: true } %>
  </div>

  <div class="form-field">
    <%= f.label :amount, "Montant" %>
    <%= f.number_field :amount, step: 0.01, placeholder: "Ex: 120.50" %>
  </div>

  <div class="form-field">
    <%= f.label :description, "Description" %>
    <%= f.text_field :description, placeholder: "Ex: courses, abonnement..." %>
  </div>

  <div class="form-field">
    <%= f.label :date, "Date" %>
    <%= f.date_field :date, value: transaction.date || Date.today %>
  </div>

  <div class="form-actions">
    <%= f.submit "Enregistrer", class: "btn btn-info" %>

    <% if request.path.include?("revenues") %>
      <%= link_to "Annuler", revenues_path, class: "btn btn-info", role: "button" %>
    <% else %>
      <%= link_to "Annuler", expenses_path, class: "btn btn-info", role: "button" %>
    <% end %>
  </div>
<% end %>
