<h1 class="text-center mb-4">Résumé des revenus</h1>

<%= render "shared/filter_form", path: revenues_path%>

<%= render "shared/chart",
           chart_id: "revenuesChart",
           resource: "revenues",
           categories: current_user.categories.for_revenues,
           data_by_category: @revenues_by_category %>


<div class="actions-container" style="margin-top:20px;">
  <%= link_to "Ajouter un revenu", new_revenue_path, class: "btn btn-info" %>
  <%= link_to "Gérer les catégories", categories_path(category_type: "revenue"), class: "btn btn-info" %>
</div>
<%= render "shared/transactions_table", transactions: @revenues %>
