
<p class="balance-text">
  Solde disponible :
  <strong><%= number_to_currency(@available_balance) %></strong>
</p>
<div id="goals_table">
  <table>
    <thead>
      <tr>
        <th>Titre</th>
        <th>Objectif</th>
        <th>Épargné</th>
        <th>Progression</th>
        <th>Échéance</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @goals.each do |goal| %>
        <% progress = (goal.target_amount.to_f > 0) ? ((goal.current_amount.to_f / goal.target_amount.to_f) * 100).round(1) : 0 %>
        <tr>
          <td><%= goal.title %></td>
          <td><%= number_to_currency(goal.target_amount) %></td>
          <td><%= number_to_currency(goal.current_amount) %></td>

          <td class="progress-cell">
            <div class="progress-bar">
              <div class="progress-fill" style="width:<%= [progress,100].min %>%"></div>
            </div>
            <small><%= progress %>%</small>
          </td>

          <td><%= goal.deadline %></td>
          <td >
            <%= form_with url: add_money_goal_path(goal),
                method: :post,
                local: true,
                class: "inline-form" do |f| %>
              <%= number_field_tag :amount, nil, placeholder: "€", step: "0.01", min: "0", class: "input-amount" %>
              <button type="submit" class="btn-action add" title="Ajouter de l’argent">
                <i class="fas fa-plus"></i>
              </button>

            <% end %>
          </td>

          <td class="actions-cell">
            <%= link_to edit_goal_path(goal), class: "btn-action edit", title: "Éditer" do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= button_to goal_path(goal),
                method: :delete,
                data: { turbo_confirm: "Supprimer cet objectif ?" },
                class: "btn-action delete" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
