<tr id="category_<%= category.id %>">
  <td><%= category.name %></td>
  <td>
    <div style="width:30px; height:20px; background:<%= category.color %>; border-radius:4px;"></div>
  </td>
  <td>
    <%= link_to "Éditer", edit_category_path(category), data: { turbo_frame: "category_form" }, class: "btn-main btn-sm" %>
    <%= button_to "Supprimer", category_path(category), method: :delete, data: { confirm: "Voulez-vous vraiment supprimer ?" }, class: "btn-cancel btn-sm" %>

  </td>
</tr>
