<h1 style="text-align:center;">Résumé des dépenses</h1>
<%= render "shared/filter_form", path: expenses_path %>


<%= render "shared/chart",
           chart_id: "expensesChart",
           resource: "expenses",
           categories: current_user.categories.for_expenses,
           data_by_category: @expenses_by_category %>


<div class="actions-container">
  <%= link_to "Ajouter une dépense", new_expense_path, class: "btn btn-info" %>
  <%= link_to "Gérer les catégories", categories_path(category_type: "expense"), class: "btn btn-info" %>
</div>

<%= render "shared/transactions_table", transactions: @expenses %>
